body {
    background-color: #ccf01a;
    color: black;
    text-align: center;
    font-family: Inconsolata;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
    font-size: 3rem;
    color: black;
    font-family: Cursive;
}

.header {
    display: flex;
    align-items: center;
}

.timer,
.best,
.cpm,
.wpm {
    background-color: #27658f;
    height: 60px;
    width: 70px;
    margin: 5px;
    padding: 10px;
    border-radius: 20%;
    font-family: Inconsolata;
    font-size: 1.5rem;
}

.user {
    background-color: #16bd7d;
    height: 60px;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border-radius: 20%;
    font-family: Inconsolata;
    font-size: 1.5rem;
}

.cpm,
.wpm,
.signoutBtn {
    display: none;
}

.headerText {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
    font-family: Inconsolata;
}

.currTime,
.currCpm,
.currWpm,
.currUser {
    font-size: 1.5rem;
    font-family: Inconsolata;
}

.currBest {
    font-family: Inconsolata;
    font-size: 1.5rem;
}

.quote {
    background-color: rgb(215, 209, 208);
    font-size: 1.5rem;
    margin: 10px;
    padding: 50px;
    border-radius: 20%;
    font-family: Inconsolata;
}

.track {
    font-size: 1.5rem;
    margin: 10px;
    padding: 50px;
    font-family: Inconsolata;
}

.joke {
    background-color: #607242;
    display: none;
    font-size: 1.5rem;
    margin: 10px;
    padding: 50px;
    font-family: Inconsolata;
}

.inputArea {
    background-color: #c4d0d9;
    height: 90px;
    width: 60%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    font-family: Inconsolata;
}

.incorrectChar {
    color: red;
    text-decoration: underline;
}

.correctChar {
    color: green;
}

.restartBtn {
    display: none;
    background-color: #37b716;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 20%;
    border: 0px;
    font-family: Inconsolata;
}